
<div class="form">
Tell me about the World's Best Cities!

      <input type="text" name="name" placeholder="City name..." ng-model="city.name">
      <input type="text" name="name" placeholder="City's Country" ng-model="city.country">
      <input type="text" name="name" placeholder="image url" ng-model="city.image">
      <input type="text" name="name" placeholder="food" ng-model="city.food">
      <input type="text" name="name" placeholder="nightlife" ng-model="city.nightlife">
      <input type="text" name="name" placeholder="attractions" ng-model="city.attractions">
        Visited? <select class="dropdown" name="" ng-model="city.visited">
          <option value="yes">yes</option>
          <option value="no">no</option>
        </select>
      <input type="button" name="name" value="Save" ng-click="saveCity()">

      <input type="button" name="name" value="Show" ng-click="togVisit()">
</div>
